.main {
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}

.main .nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    font-size: 20px;
    color: #585858;
}

.main .nav img {
    width: 40px;
    border-radius: 50px;
}

.main-container {
    max-width: 900px;
    margin: auto;
}

.main .greet {
    margin: 50px 0;
    font-size: 56px;
    font-weight: 500;
    color: #c4c7c5;
    padding: 20px;
}

.main .greet span{
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
    gap: 10px;
    padding: 20px;
}

.main .card {
    height: 200px;
    padding: 20px;
    background-color: #f4f0f9;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .card img {
    width: 35px;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    align-self: flex-end;
   
}

.main .card p {
    color: #585858;
    font-size: 17px;
}

.main .card:hover {
    background-color: #e0dbe6;
}

.main-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0 20px;
    margin: auto;
}

.serch-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f4f0f9;
    padding: 10px 20px;
    border-radius: 50px;
}

.serch-box img {
    width: 30px;
}

.serch-box input {
    flex: 1;
    background: transparent;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px;
}

.serch-box div {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.main .bottom-info {
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 250;
}

.result {
    padding: 0px 5%;
    max-width: 98vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar{
    display: none;
}

.result-title {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.result img {
    width: 40px;
    border-radius: 50px;
}

.result-data {
    display: flex;
    align-items: start;
    gap: 20px;
}

.loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr {
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #f4f0f9, #ffffff, #f4f0f9);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}

@keyframes loader {
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}

.result-data p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
    padding-bottom: 25px;
}

